@import './base.css';

@import 'primeicons/primeicons.css';

/* * {
  border: 1px solid red;
} */

/* Toast Styles */
.toast-style {
  background-color: var(--color-background) !important;
  border: 1px solid var(--color-primary) !important;
  color: var(--color-primary) !important;
}

img {
  border-radius: 4px;
}

#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  /* font-family: monospace; */
  /* background-color: pink; */
  align-items: center;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a .pi {
  margin-right: 0.5rem;
  color: var(--color-primary);
}

@media (hover: hover) {
  a:hover {
    /* color: var(--color-border-hover); */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  span.emphasis {
    font-weight: bold;
    color: var(--color-primary);
  }
}
